/* ************************************************************* */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* ************************************************************* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ************************************************************* */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    background-color: #aad4cf;
    max-width: 1024px;
    margin: auto;
}

.site-header {
    position: relative;
    /* display: block; */
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.site-header h1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Set Width and Border */
.navbar {
    position: static;
    background-color: #d4e9e7;
    transform: translate(0%, -20%);
    
}

.navbar li {
    display: inline-block;
    
}

li a {
    display: inline-block;
    background-color: blue;
    width: 338.5px;
    height: 48px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    padding: 10px;
}

h3 {
    height: 48px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    margin: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset {
    display: block;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    background-color: #d4e9e7;

  }

label {
    display: block;
    margin: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

label[for=yes] {
    display: inline;
    margin: 10px 10px;
}
label[for=no] {
    display: inline;
    margin: 10px 10px;
}
label[for=maybe] {
    display: inline;
    margin: 10px 10px;
}

input[type=text] {
    width: 98%;
    /* padding: 12px 20px; */
    margin: 0 10px;
    box-sizing: border-box;
 }

textarea {
    width: 98%;
    height: 100px;
    margin: 10px 10px;
    /* padding: 12px 20px; */
    box-sizing: border-box;
    /* border: 2px solid #ccc; */
    /* border-radius: 4px; */
    /* background-color: #f8f8f8; */
    resize: none;
}
input[type=button] {
    display: block;
    background-color: #d4e9e7;
    padding: 10px 10px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }