/* ************************************************************* */
/* Final-Project CSS
   v1.0
   License: none (public domain)
*/
/* ************************************************************* */


/*  first orange div (outter divs) set to correct width
    width and margin auto for each seciton */

    /* setup everyting for mobile first here */

body {
    font-family: 'Open Sans', sans-serif;
}
/* ************************************************************* */
/* header styling */
/* ************************************************************* */
.header-wrappper {
    display: block;
    /* this means grow to no larger then this */
    /* max-width: 1200px;   */
    /* margin: auto; */
}
/* ************************************************************* */
/* Naviation bar styling */
/* ************************************************************* */
.navigation {
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 20px;
    background-color: #222;
}

nav .image { 
    /* max-width: 100%; */
    padding: 20px;
    /* margin: 20px 20px 0 20px; */
    background-color: #c78c06;
}

nav ul li {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #c78c06;
}

nav ul li:hover {
    color: black;
    background-color: #c78c06;
    /* margin: 0 20px 0 20px; */
}

/* input []{
    display: inline-block;
    width: 100%;
} */

/*  you'll only need one media queury for this project
    always ad the media queury at the end
    in the media queuries dont us max width just use min width  
    avoid absolute positionning*/

@media screen and (min-width: 760px) {

    .our-services {
        display: grid;
        grid-template-columns: 6;
        grid-template-rows: 3;
        grid-template-areas: 
        "heading heading heading heading heading heading"
        "digital digital digital marketing marketing marketing"
        "video video web web print print";
    }
    .heading {
        grid-area: heading;
    }
    .card-digital {
        grid-area: digital;
    }
    .card-marketing {
        grid-area: marketing;
    }
    .card-video {
        grid-area: video;
    }
    .card-web {
        grid-area: web;
    }
    .card-print {
        grid-area: print;
    }
}
