/* ************************************************************* */
/* Final-Project CSS */
/* ************************************************************* */
/* personal note:
   create a vs addon that when you right click on a tag
   in an html document a option called create css selector is 
   available and when used will automatically create the 
   corresponding selector in your linked css document. 
   If a selector is already created then will point or 
   direct user toward it. 
   
   todo
   1.add more notes explaining things
   2.try and fix search button/bar
   
   */
/* ************************************************************* */


/*  first orange div (outter divs) set to correct width
    width and margin auto for each seciton */

    /* setup everyting for mobile first here */

body {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    max-width: 760px;
}
/* ************************************************************* */
/* header styling */
/* ************************************************************* */
/* .header-wrappper {
    
    this means grow to no larger then this
    max-width: 1200px;  
    margin: auto;
} */

/* ************************************************************* */
/* Naviation bar styling */
/* ************************************************************* */
.navigation {
    padding: 20px;
    background-color: #222;
}

nav .image { 
    /* max-width: 100%; */
    padding: 20px;
    /* margin: 20px 20px 0 20px; */
    background-color: #c78c06;
}

nav ul li {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #c78c06;
}

nav ul li:hover {
    background-color: #c78c06;
}

nav ul li:hover > a{
    color: #222;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    width: auto;
}

.navigation input[type=text] {
    width: 84%;
    padding: 20px;
    margin: 10px 0;
    color: #222;
}

.search-btn {
    /* display: inline; */
    /* width: 10%; */
    /* box-sizing: border-box; */
    /* width: 10%; */
    /* margin: 100px 0 0 0; */
    background-color: #222;
    border-color: #c78c06;
    color: #c78c06;
    /* height: 50px; */
    padding: 10px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */
}

/* ************************************************************* */
/* welcome banner */
/* ************************************************************* */
.banner {
    background-image: url(/final-project/images/main-banner.jpg);
    background-repeat: no-repeat;
    padding: 100px 0;
    /* background-size: 1200px 1200px; */
}

.welcome-box {
    background-color: rgba(0, 0, 0, 50%);
    /* margin: 100px 0 100px 0; */
    padding: 50px 20px;
}

h1 {
    /* color: white; */
    font-weight: 700;
    font-size: 5rem;
    color: white;
}

p {
    font-weight: 400;
    color: white;
    padding: 20px 0 20px 0;
}

.connect-button {
    background-color: #c78c06;
    border: none;
    padding: 20px;
    margin: 20px 0;
    font-size: 1.3rem;
}

.fa {
    /* color: black; */
    font-size: 2rem;
    /* margin: 5px; */
    /* padding: 10px ; */
}

.wrapper {
    background-color: #ffe6ac;
    padding: 20px;
    /* margin: auto; */
    /* max-width: 1200px; */
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
    padding: 40px 0;
}
h4 {
    /* margin: 20px; */
    font-weight: 700;
    font-size: 2.5rem;
    margin: 20px 0;
}
.wrapper p {
    color: black;
}

.wrapper.services{
    background-color: white;
}

/* ************************************************************* */
/* cards */
/* ************************************************************* */
.card {
    margin: 20px 16px;
    background-color: #ffe6ac;
}
.wrapper.services img{
    width: 100%;
}
.card-container h4 {
    margin: 20px;
    /* font-weight: 700; */
    /* font-size: 2rem; */
}
.card p{
    margin: 0 20px;
}
.card-button {
    font-size: 1.5rem;
    /* width: 80%; */
    /* height: 100%; */
    padding: 20px;
    margin: 20px;
    background-color: #222;
    color: white;
    border: none;
}

/* ************************************************************* */
/* vision banner */
/* ************************************************************* */
.wrapper.vision {
    background-image: url(/final-project/images/vision.jpg);
    background-repeat: no-repeat;
    /* padding: 100px 0; */
    margin: 0 0 20px 0;
    /* max-height: 300px; */
    background-size: 760px 500px;
}
.wrapper.vision h4 {
    color: white;
}
.wrapper.vision p {
    color: white;
    
}
.wrapper.vision button {
    font-size: 1.5rem;
    /* width: 80%; */
    /* height: 100%; */
    padding: 20px;
    /* margin: 20px; */
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    border-color: white;
}


/* ************************************************************* */
/* our team */
/* ************************************************************* */
.wrapper.team {
    background-color: white;
}
.our-team img {
    width: 100%;
    height: 100%;
}
.description {
    background-color: #ffe6ac;
    margin: 0 0 20px 0;
    padding: 20px;
}
.our-team h5 {
    /* margin: 20px 0 0 0; */
    font-weight: 700;
}
.underline {
    height: 2px;
    background-color: #c78c06;
}

/* ************************************************************* */
/* contact */
/* ************************************************************* */
.wrapper.contact {
    background-color: white;
}

.message input[type=text] {
    /* display: inline; */
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #222;
    /* font-size: 1.5rem; */
}
/* label {
    margin: 10px 0;
} */
textarea {
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    height: 150px;
    resize: none;
  }
.message input[type=button] {
    background-color: #222;
    color: #c78c06;
    font-size: 1.5rem;
    padding: 5px;
}

/* ************************************************************* */
/* table */
/* ************************************************************* */
table{
    width: 100%;
    border: 1px solid;
}
th {
    border: 1px solid;
    padding: 20px;
}
tr:nth-child(1) {
    background-color: #ffe6ac;
}
tr:nth-child(2) {
    text-align: left;
}
tr:nth-child(3) {
    text-align: left;
}

/* ************************************************************* */
/* location */
/* ************************************************************* */
iframe {
    width: 100%;
}

.wrapper.footer {
    background-color: #222;
}
.wrapper.footer p {
    color: #c78c06;
}

/*  you'll only need one media queury for this project
    always ad the media queury at the end
    in the media queuries dont us max width just use min width  
    avoid absolute positionning*/

 @media screen and (min-width: 760px) {

    body {
        max-width: 1200px;
    }

    /* ************************************************************* */
    /* Naviation bar styling */
    /* ************************************************************* */
    nav {
        display: flex;
    }

    nav .image {
        background-color: #222;
        margin: 0 0 0 70px;
    }
    nav ul {
        display: flex;
        text-align: center;
        padding: 20px;
        margin: 20px;
    }
    nav ul li {
        font-size: 1rem;
    }
    nav form {
        display: flex;
        height: 10px;
        margin: 40px;
    }
    .search-btn {
        margin: 10px;
        height: 40px;
    }   
    nav ul li:hover > a{
        font-size: 1rem;
        padding: 0px;
    }

    .welcome-box {
        margin: 0 100px;
    }

    .about-us {
        display: flex;
    }
    .about-us img {
        max-width: 400px;
        height: 250px;
        margin: 0 0 0 100px;
    }
    .about-us h2 {
        padding: 0px;
        margin: 0 10px;
    }
    .about-us p {
        margin: 0 100px 0 10px;
    }

    h4 {
        font-size: 2rem;
    }

    /* ************************************************************* */
    /* cards */
    /* ************************************************************* */
    .card {
        margin: 10px;
    }
    .wrapper.services img{
        width: 100%;
    }
    .our-services {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: .2fr 1.1fr .8fr;
        grid-template-areas: 
        "heading heading heading heading heading heading"
        "digital digital digital marketing marketing marketing"
        "video video web web print print";
    }
    .heading {
        grid-area: heading;
    }
    .digital {
        grid-area: digital;
    }
    .marketing {
        grid-area: marketing;
    }
    .video {
        grid-area: video;
    }
    .web {
        grid-area: web;
    }
    .print {
        grid-area: print;
    }

    /* ************************************************************* */
    /* vision banner */
    /* ************************************************************* */
    .wrapper.vision {
        background-size: 1200px 500px;
    }

    /* ************************************************************* */
    /* our team */
    /* ************************************************************* */
    .description {
        margin: 0;
        padding: 0 20px;
    }
    .our-team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 3fr;
        grid-template-areas:
        "heading heading"
        "john desc-john"
        "desc-bob bob";
    }
    .heading {
        grid-area: heading;
    }
    .john {
        grid-area: john;
    }
    .description.john {
        grid-area: desc-john;
    }
    .bob {
        grid-area: bob;
    }
    .description.bob {
        grid-area: desc-bob;
    }
    
    .contact-us {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-us .heading {
        order: 1;
        width: 100%;
    }
    .contact-us .message {
        order: 2;
        width: 50%;
        /* padding: 0 5px; */
        /* flex-basis: calc(50% - 5px); */
    }
    .message form {
        padding: 0 10px 0 0;
    }
    .contact-us .table {
        order: 4;
        width: 100%;
    }
    .contact-us .map {
        order: 3;
        width: 50%;
        /* padding: 0 5px; */
        /* flex-basis: calc(50% - 5px); */
    }
    .map h4 {
        padding: 0 0 0 5px;
    }
    .map iframe {
        padding: 0 0 0 5px;
    }


}
