/* ************************************************************* */
/* Final-Project CSS */
/* ************************************************************* */
/* personal note:
   create a vs addon that when you right click on a tag
   in an html document a option called create css selector is 
   available and when used will automatically create the 
   corresponding selector in your linked css document. 
   If a selector is already created then will point or 
   direct user toward it. */
/* ************************************************************* */


/*  first orange div (outter divs) set to correct width
    width and margin auto for each seciton */

    /* setup everyting for mobile first here */

body {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    max-width: 760px;
}
/* ************************************************************* */
/* header styling */
/* ************************************************************* */
/* .header-wrappper {
    
    this means grow to no larger then this
    max-width: 1200px;  
    margin: auto;
} */

/* ************************************************************* */
/* Naviation bar styling */
/* ************************************************************* */
.navigation {
    padding: 20px;
    background-color: #222;
}

nav .image { 
    /* max-width: 100%; */
    padding: 20px;
    /* margin: 20px 20px 0 20px; */
    background-color: #c78c06;
}

nav ul li {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #c78c06;
}

nav ul li:hover {
    background-color: #c78c06;
}

nav ul li:hover > a{
    color: #222;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    width: auto;
}

.navigation input[type=text] {
    /* display: inline; */
    width: 80%;
    padding: 14px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #222;
    /* font-size: 1.5rem; */

}

.search-btn {
    /* display: inline; */
    /* width: 4%; */
    background-color: #222;
    border-color: #c78c06;
    color: #c78c06;
    /* padding: 15px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */
}

/* ************************************************************* */
/* welcome banner */
/* ************************************************************* */
.banner {
    background-image: url(/final-project/images/main-banner.jpg);
    background-repeat: no-repeat;
    padding: 100px 0;
    /* background-size: 1200px 1200px; */
}

.welcome-box {
    background-color: rgba(0, 0, 0, 50%);
    /* margin: 100px 0 100px 0; */
    padding: 50px 20px;
}

h1 {
    /* color: white; */
    font-weight: 700;
    font-size: 5rem;
    color: white;
}

p {
    font-weight: 400;
    color: white;
    padding: 20px 0 20px 0;
}

.connect-button {
    background-color: #c78c06;
    border: none;
    padding: 20px;
    margin: 20px 0;
    font-size: 1.3rem;
}

.fa {
    /* color: black; */
    font-size: 2.5rem;
    padding: 10px ;
}

.wrapper {
    background-color: #ffe6ac;
    padding: 20px;
    /* margin: auto; */
    /* max-width: 1200px; */
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
    padding: 40px 0;
}
h4 {
    /* margin: 20px; */
    font-weight: 700;
    font-size: 2rem;
}
.wrapper p {
    color: black;
}

.wrapper.services{
    background-color: white;
}

.image img {
    max-width: 720px;
}

/* ************************************************************* */
/* cards */
/* ************************************************************* */
.card {
    margin: 20px 16px;
    background-color: #ffe6ac;
}
.card img{
    width: 100%;
}
.card-container h4 {
    margin: 20px;
    font-weight: 700;
    font-size: 2rem;
}
.card p{
    margin: 0 20px;
}
.card-button {
    font-size: 1.5rem;
    /* width: 80%; */
    /* height: 100%; */
    padding: 20px;
    margin: 20px;
    background-color: #222;
    color: white;
    border: none;
}

/* ************************************************************* */
/* vision banner */
/* ************************************************************* */
.wrapper.vision {
    background-image: url(/final-project/images/vision.jpg);
    background-repeat: no-repeat;
    /* padding: 100px 0; */
    margin: 0 0 20px 0;
    /* max-height: 300px; */
    background-size: 760px 500px;
}
.wrapper.vision h4 {
    color: white;
}
.wrapper.vision p {
    color: white;
    
}
.wrapper.vision button {
    font-size: 1.5rem;
    /* width: 80%; */
    /* height: 100%; */
    padding: 20px;
    /* margin: 20px; */
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    border-color: white;
}


/* ************************************************************* */
/* our team */
/* ************************************************************* */
.wrapper.team {
    background-color: white;
}
.our-team img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.description{
    background-color: #ffe6ac;
    margin: 0 0 20px 0;
    padding: 20px;
}
.our-team h5 {
    margin: 20px 0;
    font-weight: 700;
}
.underline {
    height: 2px;
    background-color: #c78c06;
}

/* ************************************************************* */
/* contact */
/* ************************************************************* */
.wrapper.contact {
    background-color: white;
}

.message input[type=text] {
    /* display: inline; */
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #222;
    /* font-size: 1.5rem; */
}
label {
    margin: 10px 0;
}
textarea {
    width: 100%;
    height: 150px;
    resize: none;
  }



/*  you'll only need one media queury for this project
    always ad the media queury at the end
    in the media queuries dont us max width just use min width  
    avoid absolute positionning*/

/* @media screen and (min-width: 760px) {

    .our-services {
        display: grid;
        grid-template-columns: 6;
        grid-template-rows: 3;
        grid-template-areas: 
        "heading heading heading heading heading heading"
        "digital digital digital marketing marketing marketing"
        "video video web web print print";
    }
    .heading {
        grid-area: heading;
    }
    .card-digital {
        grid-area: digital;
    }
    .card-marketing {
        grid-area: marketing;
    }
    .card-video {
        grid-area: video;
    }
    .card-web {
        grid-area: web;
    }
    .card-print {
        grid-area: print;
    }
} */
